img {
  border-radius: 50%;
}
body {
  background-color: #ddf796;
}
hr {
  border-style: none;
  border-top-style:dotted;
  height: 0px;
   width: 8%;
   border-width: 5px;
   border-color: gray;
}
h3{
color: #52de97;
}
