body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 auto 0;
  text-align: center;
  font-size: 0.8rem;
}

h1 {
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  margin-top: 50px;
  font-size: 5.6rem;
  line-height: 1;
}

#myskill {
  margin-top: 35px;
}

#description {
  color: #66BFBF;
  font-size: 1.6rem;
  font-weight: normal;
}

h3 {
  color: #11999E;
}

h2 {
  color: #11999E;
}

.coding-gif {
  height: 150px;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.mobile-programming {
  height: 150px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.speed-typing-gif {
  height: 150px;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.man {
  margin-top: 50px;
}

.footer-link {
  color: #11999E;
}
.hr{
  margin-top: 80px;
  margin-bottom: 80px;
}
hr {
  color: gray;
  display: block;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  margin-left: auto;
  margin-right: auto;
  border-style: dotted;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 5px;
  width: 8%;
}
.btn:hover {
  background-color:#30e3cb;
}
.btn {
  line-height: 5;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 1.2rem;
  text-decoration: none;
  padding: 10px 15px;
  border: 1px solid #11999E;
  border-radius: 10px;
  color: white;
  background-color: #11999E;
}

.right-cloud {
  position: absolute;
  right: 30%;
  bottom: 35%;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  bottom: 45%;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 5%;
}

.top-container {

  position: relative;
  padding-top: 5px;
  padding-bottom:15px;
  background-color: #d2d0fe;
}

.middle-container {
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  height: 80px;
}

.social-addresses {
  padding-top: 20px;
}

.social {
  margin-left: 8px;
  margin-right: 8px;
}

.web {
  text-decoration: underline;
}

.contact-me {
  padding-bottom: 50px;
}
